<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="f-title">About Us</div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 f-newsletter">
                <div class="f-title">Newsletter</div>
                <p>Stay updated with latest trends</p>
                <div class="form-group">
                    <label for="email-news1">email</label>
                    <input type="email" class="form-control" name="email-news1" id="email-news1"
                        placeholder="Email address" aria-describedby="email-news1">
                    <button class="sub-news">arrow</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 insta-feeds">
                <div class="f-title">Instagram Feed</div>
                <div class="insta-pics">
                    <div class="position-relative">
                        <img src="../../assets/1.jpg" alt="insta">
                    </div>
                    <div class="position-relative">
                        <img src="../../assets/2.jpg" alt="insta"> </div>
                    <div class="position-relative">
                        <img src="../../assets/3.jpg" alt="insta"> </div>
                    <div class="position-relative">
                        <img src="../../assets/4.jpg" alt="insta"> </div>
                    <div class="position-relative">
                        <img src="../../assets/5.jpg" alt="insta"> </div>
                    <div class="position-relative">
                        <img src="../../assets/6.jpg" alt="insta"> </div>
                    <div class="position-relative">
                        <img src="../../assets/7.jpg" alt="insta"> </div>
                    <div class="position-relative">
                        <img src="../../assets/8.jpg" alt="insta"> </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="f-title">Follow Us</div>
                <p>let us be social</p>
                <div class="so-icons">
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-futbol-o"></i>
                    <i class="fa fa-behance"></i>
                </div>
            </div>
        </div>
        <div class="cpy-rgt">Copyright&copy;2020</div>
    </div>
</div>