<div class="single-hero-banner">
    <div class="container">
        <div class="title-desc">
            <h1>Single Product Page</h1>
            <p>Home -> Category -> Product Details</p>
        </div>
    </div>
</div>
<div class="pro-shows">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-xs-12 p-single-img">
                <img [src]="product.imgPath" [alt]="product.title"/>
            </div>
            <div class="col-lg-5 col-md-12 col-xs-12 p-single-details">
                <h3>{{product.title}}</h3>
                <div class="p-sinlge-price">{{product.price}}</div>
                <div class="category-details">
                    <span>Category</span>
                    <div class="c-name">:Household</div>
                </div>
                <div class="category-details">
                    <span class="mr-28">Availibility</span>
                    <div>:In Stock</div>
                </div>
                <div class="p-single-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the specimen book.
                </div>
                <div class="p-add">
                    <p>Quantity:</p>
                    <input type="number" value="1" min="1">
                </div>
                <div class="cart-btn-fav">
                    <div class="btn-cart">ADD TO CART</div>
                    <span class="diamond"><i class="fa fa-diamond" aria-hidden="true"></i></span>
                    <span class="fav"><i class="fa" [ngClass]="product.isFavorite ? 'fa-heart': 'fa-heart-o'" (click)="handleClick()" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
